// IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

@import "_variables.scss";
@import "_mixins.scss";
@import "_general.scss";
@import "_loader.scss";
@import "_footer.scss";

//////////////////////////////////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////////

// MOBILE (from 0px to 768px) //

/// HEADER ///
.navbar {
  &__logo {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 16px 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 5;
    img {
      width: 162px;
    }
  }

  &__location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    padding: 17px 0px;
    background-color: #eaeaea;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    // z-index: 5;
    p {
      font-weight: $medium;
      font-size: 16px;
    }
  }
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  padding: 38px 34px;
  // margin: 38px 0px;
  background-color: #f6f6f6;
  p {
    font-size: 18px;
    font-weight: $light;
  }
  button {
    margin-top: 10px;
  }
}
// end HEADER //

/// MAIN ///
main {
  padding: 0px 0px;
}

// section fonctionnement
.fonctionnement {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  padding: 0 20px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 2em;

    &--steps {
      position: relative;
      display: flex;
      align-items: center;
      gap: 25px;
      padding: 28px 35px;
      border-radius: 20px;
      background-color: #f6f6f6;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      margin-left: 12px;
      .step__num {
        position: absolute;
        left: 0;
        transform: translateX(-50%);
        width: 24px;
        height: 24px;
        background-color: $purple;
        border-radius: 50%;
        font-size: 14px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      p {
        font-size: 16px;
        font-weight: $medium;
      }
    }
  }
}

// section restaurants
.restaurants {
  margin-top: 4em;
  background-color: #f6f6f6;
  padding: 35px 20px 65px 20px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 28px;

    &__card {
      position: relative;
      width: 100%;
      height: 251px;
      margin-bottom: 0.2em;
      background-color: white;
      border-radius: 15px;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale(0.98);
      }
      .card__img {
        img {
          transition: transform 0.3s ease-in-out;
          object-fit: cover;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          width: 100%;
          height: 174px;
        }
      }
      .card__article {
        display: flex;
        justify-content: space-between;
        padding: 13px;

        &--txt {
          p {
            font-size: 17px;
            font-weight: $light;
            margin-top: 3px;
          }
        }

        .heart-btn {
          margin-right: 10px;
          width: 1.875rem;
          height: 1.875rem;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          background: transparent;

          &::before {
            content: "\f004";
            font-family: "Font Awesome 5 Free";
            position: absolute;
            transition: all 0.8s ease-in-out;
            font-size: x-large;
          }
          &::after {
            content: "\f004";
            font-family: "Font Awesome 5 Free";
            position: absolute;
            transition: all 0.3s ease-in-out;
            background: linear-gradient(to bottom, #ff79da, #9356dc 80%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
            opacity: 0;
            font-weight: 600;
            font-size: x-large;
            cursor: pointer;
          }
          &:hover::after {
            opacity: 1;
          }
        }
      }
    }
  }
}
// end MAIN //

//////////////////////////////////////////////////////////////////////////////////////////////////////////

// DESKTOP (from 768px onwards)
@media (min-width: 768px) {
  // HEADER
  // navbar
  .navbar {
    &__logo {
      box-shadow: none;
    }
    &__location {
      box-shadow: none;
    }
  }

  // MAIN
  main {
    padding: 0px;
    margin: 0 auto;
  }
  //section fonctionnement
  .fonctionnement {
    max-width: 1080px;
    margin: 4em auto;
    &__container {
      flex-direction: row;
      &--steps {
        flex: 1 1 0%;
      }
    }
  }

  // section restaurant
  .restaurants {
    margin-top: 2em;
    padding: 25px 25px;
    h2 {
      max-width: 1080px;
      margin: 0 auto;
      margin-bottom: 25px;
    }
    &__container {
      max-width: 1080px;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 50px;
      &__card {
        flex: 0 1 490px;
        background-color: white;
        border-radius: 15px;
      }
    }
  }
}

// BETWEEN 768px & 1086px
@media (min-width: 768px) and (max-width: 1086px) {
  // MAIN
  // section restaurant
  .restaurants {
    &__container {
      &__card {
        flex: 1 1 35%;
      }
    }
  }
}
