// IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

// VARIABLES
// colors:
$semi_black: #353535;
$light_green: #99e2d0;
$green: #008766;
$light_blue: #89c8fa;
$blue: #003a68;
$purple: #9356dc;
@mixin gradient {
  background: linear-gradient(
    0deg,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 218, 1) 100%
  );
}

//font weight
$light: 300;
$medium: 500;

// shadows:
@mixin boxShadow {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
@mixin boxShadowHoverState {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

// GENERAL
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  .main-container {
    width: 100%;
    max-width: 1440px;
  }
}

h1 {
  font-size: 28px;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 700;
}
h4 {
  font-size: 18px;
  font-weight: 500;
}

// BUTTONS
.btn--main {
  @include gradient;
  @include boxShadow;
  position: relative;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  padding: 13px 16px;
  cursor: pointer;
  transition: box-shadow 0.3s 100ms ease-out;
  z-index: 1;
  &:hover {
    @include boxShadowHoverState;
    &::after {
      opacity: 0.15;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 25px;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    z-index: -1;
  }
}

.btn--secondary {
  position: absolute;
  width: 80px;
  right: 5%;
  top: 5%;
  border: none;
  color: $green;
  font-size: 14px;
  padding: 7px 9px;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  z-index: 0;
  transition: transform 0.4s ease-in-out;
  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $light_green;
    left: 0;
    top: 0;
    border-radius: 2px;
  }
  &::before {
    content: "";
    background-color: #31b493;
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    transition: opacity 0.3s ease-in-out;
    border-radius: 2px;
    opacity: 0;
  }
  &:hover {
    transform: scale(1.1);
    &::before {
      opacity: 1;
    }
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE (from 0px to 768px) //

/// HEADER ///
.navbar {
  &__logo {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 16px 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    img {
      width: 162px;
    }
  }

  &__location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    padding: 17px 0px;
    background-color: #eaeaea;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    p {
      font-weight: $medium;
      font-size: 16px;
    }
  }
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  padding: 0px 34px;
  margin: 38px 0px;
  p {
    font-size: 18px;
    font-weight: $light;
  }
  button {
    margin-top: 10px;
  }
}
// end HEADER //

/// MAIN ///
main {
  padding: 0px 20px;
}

// section fonctionnement
.fonctionnement {
  display: flex;
  flex-direction: column;
  margin-top: 6em;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 2em;

    &--steps {
      position: relative;
      display: flex;
      align-items: center;
      gap: 25px;
      padding: 28px 35px;
      border-radius: 20px;
      background-color: #f6f6f6;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      margin-left: 12px;
      .step__num {
        position: absolute;
        left: 0;
        transform: translateX(-50%);
        width: 24px;
        height: 24px;
        background-color: $purple;
        border-radius: 50%;
        font-size: 14px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      p {
        font-size: 16px;
        font-weight: $medium;
      }
    }
  }
}

// section restaurants
.restaurants {
  margin-top: 6em;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 28px;

    &__card {
      position: relative;
      width: 100%;
      height: 251px;
      margin-bottom: 0.2em;
      .card__img {
        img {
          object-fit: cover;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          width: 100%;
          height: 174px;
        }
      }
      .card__article {
        display: flex;
        justify-content: space-between;
        padding: 13px;

        &--txt {
          p {
            font-size: 17px;
            font-weight: $light;
            margin-top: 3px;
          }
        }

        .heart-btn {
          margin-right: 10px;
          align-self: flex-start;
          border: none;
          background-color: rgba(255, 255, 255, 0);
          svg {
            cursor: pointer;
            path {
              fill: transparent;
              stroke: rgb(0, 0, 0);
              animation: emptyHeartIcon 0.3s ease-in-out forwards;
            }
          }
          &:hover svg path {
            fill: url(#my-gradient) $purple;
            stroke: transparent;
            animation: fillHeartIcon 0.3s ease-in-out forwards;
          }
        }

        @keyframes fillHeartIcon {
          0% {
            fill: transparent;
            stroke: black;
          }
          25% {
            stroke: rgba(0, 0, 0, 0.75);
          }
          50% {
            stroke: rgba(0, 0, 0, 0.5);
          }
          75% {
            stroke: rgba(0, 0, 0, 0.25);
          }
          85% {
            stroke: rgba(0, 0, 0, 0.1);
          }
          100% {
            fill: url(#my-gradient) $purple;
            stroke: transparent;
          }
        }
        @keyframes emptyHeartIcon {
          0% {
            fill: url(#my-gradient) $purple;
            stroke: transparent;
          }
          25% {
            stroke: rgba(0, 0, 0, 0.1);
          }
          50% {
            stroke: rgba(0, 0, 0, 0.25);
          }
          75% {
            stroke: rgba(0, 0, 0, 0.5);
          }
          85% {
            stroke: rgba(0, 0, 0, 0.75);
          }
          100% {
            fill: transparent;
            stroke: black;
          }
        }
      }
    }
  }
}
// end MAIN //

/// FOOTER ///
footer {
  padding: 25px;
  background-color: $semi_black;
  margin-top: 6em;
  a {
    text-decoration: none;
    h1 {
      color: white;
      margin-bottom: 20px;
      cursor: pointer;
      transition: transform 150ms ease-out;
      &:hover {
        transform: translateX(2%);
      }
    }
    &:hover {
      transform: translateX(2%);
    }
  }
  .footer__menu {
    display: flex;
    flex-direction: column;
    gap: 7px;
    a {
      color: white;
      display: flex;
      gap: 12px;
      text-decoration: none;
      transition: all 150ms ease-out;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// DESKTOP (from 768px onwards)
@media (min-width: 768px) {
  // HEADER
  // navbar
  .navbar {
    &__logo {
      box-shadow: none;
    }
    &__location {
      box-shadow: none;
    }
  }

  // MAIN
  main {
    // display: flex;
    // justify-content: center;
    margin: 0 auto;
    max-width: 1120px;
  }
  //section fonctionnement
  .fonctionnement {
    &__container {
      flex-direction: row;
      &--steps {
        flex: 1 1 0%;
      }
    }
  }

  // section restaurant
  .restaurants {
    &__container {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 50px;
      &__card {
        flex: 0 1 490px;
      }
    }
  }

  // FOOTER
  footer {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 16px;
    padding: 30px 25px;
    height: 114px;
    a {
      order: 2;
      transition: transform 150ms ease-out;
      h1 {
        font-size: 18px;
        margin: 0;
        margin-right: 2em;
      }
      &:hover {
        transform: scale(0.95);
      }
    }
    .footer__menu {
      order: 1;
      flex-direction: row;
      gap: 7px;
      a {
        align-items: center;
        img {
          height: 13px;
        }
        &:nth-child(-n + 2) {
          width: 190px;
        }
        &:nth-child(n + 3) {
          width: 130px;
        }
      }
    }
  }
}

// BETWEEN 768px & 1086px
@media (min-width: 768px) and (max-width: 1086px) {
  // MAIN
  // section restaurant
  .restaurants {
    &__container {
      &__card {
        flex: 1 1 35%;
      }
    }
  }
}
